.categoria {
  display: flex;
  align-items: center;
  gap: 1rem;
  background-color: #cea8814b;
  padding: 1rem;
  border-radius: 1rem;
  box-shadow: 0 0 8px rgba(0, 0, 0, 0.1);
  margin-bottom: 1.5rem;
  transition: transform 0.3s ease, box-shadow 0.3s ease,
    background-color 0.3s ease;
  text-decoration: none;
  color: inherit;
}

.categoria:hover {
  transform: scale(1.03);
  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.2);
}

.categoria img {
  width: 120px;
  height: auto;
  border-radius: 0.5rem;
  object-fit: cover;
}

/* Información */
.categoria-info {
  flex: 1;
}

.categoria-info h3 {
  margin-bottom: 0.5rem;
  color: #4b2e2e;
  font-weight: bold;
  font-size: 1.2rem;
}
